{% extends 'basic.html' %}

{% block title %} Company Login {% endblock %}
{% block company_login %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<style>
.form1{
    display:flex;   
        
    align-items:center;
    justify-content:center;
  
    height: 100vh;  
}
.container{
    width: 30rem;
    height: auto;
    background-color: #4f868c;
    {% comment %} color: white; {% endcomment %}
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
    font-size: middle;
    {% comment %} font-weight: bold; {% endcomment %}
    {% comment %} margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: auto;
    margin-right: auto; {% endcomment %}
    {% comment %} text-align: center; {% endcomment %}
}

</style>

<form method="POST" class="form1"> 
    {% csrf_token %}
    <div class="container mt-5">
       <h3 style="text-align:center"> Company Login</h3>
       <br>
        <div class="mb-3">
            <label for="username" class="form-label"><i style="font-weight: bold;">Username</i></label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label"><i style="font-weight: bold;">Password</i></label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
        </div>
        <br>
        <div style="display:flex; justify-content:center">
        <input type="submit" value="Submit" class="btn" style="background-color:white; color: black; font-size: larger; width: 8rem;">
        </div>
        <br>
        
        <h6 style="text-align:center">Haven't register yet, then click here <a href="/company_signup/" type="submit" class="btn" style="background-color: white; color:black;">Signup</a>

    </div>
</form>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert("Invalid Credentials. Please try again.");
    window.location.href = "/company_login"
    {% endif %}
</script>
{% endblock %}
